

/* FORGOT PASSWORD STYLE */
      .container {
          background: rgba(255, 255, 255, 0.95);
          padding: 20px 18px;
          border-radius: 10px;
          text-align: center;
          width: 100%;
          max-width: 550px;
          box-shadow: 0 3px 15px rgba(0,0,0,0.2);
      }

      img {
          max-width: 150px;
          margin-bottom: 10px;
      }

      h2 {
          margin: 8px 0 15px;
          color: #2d572c;
          font-size: 18px;
          font-weight: bold;
      }

input[type="email"] {
    width: 95%;
    padding: 9px;
    margin: 8px auto;   /* centers horizontally */
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}
      button {
          width: 100%;
          padding: 10px;
          background: #17984b;
          color: #fff;
          border: none;
          border-radius: 5px;
          font-size: 14px;
          cursor: pointer;
          margin-top: 9px;
      }

      button:hover {
          background: #137c3b;
      }

      a {
          display: block;
          margin-top: 10px;
          color: #17984b;
          text-decoration: none;
          font-size: 12px;
      }

      a:hover {
          text-decoration: underline;
      }

      .message {
          margin-top: 10px;
          font-size: 13px;
          color: red;
      }

      @media only screen and (max-width: 767px) {
          .container {
              padding: 15px;
              border-radius: 8px;
              margin: 10px;
              margin-top: -60px;
          }

          img {
              max-width: 120px;
              margin-bottom: 8px;
          }

          h2 {
              font-size: 16px;
              margin: 6px 0 12px;
          }

          input[type="email"] {
              font-size: 14px;
              padding: 10px;
          }

          button {
              font-size: 16px;
              padding: 12px;
          }

          a {
              font-size: 14px;
              margin-top: 8px;
          }

          .message {
              font-size: 14px;
              margin-top: 8px;
          }
      }
